#mapwrapper {
  display: inline-block;
	width: 414px;
	height: 317px;
	position: relative;
	overflow: hidden;
}

#mapimage {
	width: 410px;
	height: 260px;
	border: 1px solid #999;
	background-color: #fff;
}


/*#mapscrollers {
    position: hidden;
}

.tabbody #mapscrollers {
	top: 0;		
	margin-left: -202px;
}

#mapzoom {
    margin-left: -2px;
    width: 297px;
}*/