#newsStories > * {
  margin-bottom: 0px;
}

#newsPager {
  height: 40px;
}

#newsPager .dots {
  margin-right: 44px;
  margin-left: 44px;
  height: 29px;
}

#newsPager .dots > * {
  height: 29px;
  width: 12px;
  margin: 0 0 0 12px;
}

#newsStoryNext, #newsStoryPrev {
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 29px;
  width: 45px;
  background-position: 40% center;
}
#newsStoryPrev {
  left: 5px;
}
#newsStoryNext {
  right: 5px;
}
#newsStoryNext.disabled, #newsStoryPrev.disabled {
  opacity: .7;
}
