.news {
    background-color: #fff;
	padding: 10px;
}

.slugline {
    font: 129.4%/1.1em Georgia, serif;
    color:#1a1611;
}

.byline {
    font-size: 64.7%;
    line-height: 1.25em;
}

.dek {
	font: 94.117%/1.2em Georgia, serif; 
}
