h1 {
	padding: 24px 0;
	text-align: center;
	color: #000;
	font-size: 171%;
}

#homegrid {
	margin-top: 24px;
}

/* TODO: Move this to common/css/compliant-bbplus.css after testing on all pages. */
/*.forminput {
	border-color: #554c41;
	width: 50%;
	left: 40%;
}
*/