h1 {
	padding: 24px 0;
	text-align: center;
	color: #000;
	font-size: 171%;
}

#homegrid {
	margin-top: 24px;
}

#homegrid div {
	width: 74px;
	height: 110px;
}

#homegrid a {	
	width: 74px;
	height: 100px;
}

#homegrid a:hover {
	border-color: #c00;
}

#homegrid a:active {
	border-color: #900;
}

/* TODO: Move this to common/css/compliant-bbplus.css after testing on all pages. */
/*.forminput {
	border-color: #554c41;
	width: 50%;
	left: 40%;
}
*/

.springboard a img {
	margin-bottom: 1px;
	border: none;
    height: 64px;
    width: 64px;
}

.springboard div.utility {
	/* Overall size of one cell in the springboard's fixed utility-type items */
	width: 64px;
	height: 64px;
}

.springboard div.utility a img {
	/* Size of actual item icon in the springboard's fixed utility-type items */
	width: 64px;
	height: 64px;
}

