/* Springboards */

.springboard {
	padding: 0 5px;
}

.springboard div {
	/* Overall size of one cell in the springboard */
	width: 5.1em;
	height: 6.6em;
	max-width: 115px;
	max-height: 120px;
}

.springboard div a {	
	/* Color and size of text label below each springboard icon */
	font-size: 90%;
}

.springboard a img {
	/* Size of actual item icon in springboard - for best results make actual PNGs match this size */
	width: 64px;
	height: 64px;
}

.springboard div.utility {
	/* Overall size of one cell in the springboard's fixed utility-type items */
	width: 5.1em;
	height: 6.6em;
	max-width: 115px;
	max-height: 120px;
}

.springboard div.utility a {
	font-size: 90%;
}

.springboard div.utility a img {
	/* Size of actual item icon in the springboard's fixed utility-type items - for best results make actual PNGs match this size */
	/* For this device branch, the size should equal that of the normal springboard icons */
	width: 64px;
	height: 64px;
}