
#homegrid div {
	width: 76px;
	height: 114px;
	font-size: 94.117%;
}
#homegrid div.utility {
	width: 76px;
	height: 114px;
	font-size: 83.35%;
}
#homegrid a {	
	width: 76px;
	height: 106px;
	color: #333;
}
#homegrid a:hover {
	border-color: #c00;
}
#homegrid a:active {
	border-color: #900;
}
