#navbar {
	height: 53px;
	line-height: 49px;
}
#navbar .pagetitle {
	height: 53px;
  line-height: 49px;
  vertical-align: top;
  margin-left: .25em;
}

h1.roomfornew {
	text-align: left;
}
#new {
	position: absolute;
	top: -13px;
	right: -9px;
	width: 80px;
	height: 80px;
	background-image: url(/modules/home/images/newbig.png);
	background-repeat: no-repeat;
	color: #fff;
	font-size: 70.59%;
	line-height: 1.1em;
	text-align: center;
	overflow: hidden;
}
#new a {
	display: block;
	width: 50px;
	height: 50px;
	padding: 0;
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 19px;
	right: 10px;
}
#new a .newlabel {
	display: block;
	font-size: 52.94%;
	line-height: 1em;
	color: #ffcece;
}
#beta {
	position: absolute;
	top: 0;
	right: 0;
}
#footer {
	text-align: center;
	clear: both;
}
form {
	margin: 0 0 -7px 0;
}

.blocks {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.block {
  width: 30%;
  height: 50%;
  overflow: hidden;
  position: absolute;
}

.blockborder {
  margin: 10px;
  -webkit-border-radius: 10px;
  border: solid 1px #333;
  background-color: white;
  overflow: hidden;
}
.blockheader {
  text-align: center;
  margin: 1px;
  padding: .25em;
  background-color: gray;
  -webkit-border-radius: 8px;
}
.blockcontent {
  padding: .5em;
}

.portrait .large {
  width: 60%;
  height: 40%;
  top: 0;
  left: 0;
}
.portrait .medium1 {
  width: 60%;
  height: 30%;
  top: 40%;
  left: 0;
}
.portrait .medium2 {
  width: 60%;
  height: 30%;
  top: 70%;
  left: 0;
}
.portrait .tall {
  width: 40%;
  height: 70%;
  top: 0;
  right: 0;
}
.portrait .small {
  width: 40%;
  height: 30%;
  top: 70%;
  right: 0;
}
.portrait .medium2 .blockborder,
.portrait .medium2 .blockborder,
.portrait .small .blockborder {
  margin-top: 0;
}
.portrait .tall .blockborder,
.portrait .small .blockborder {
  margin-left: 0;
}

.landscape .large {
  width: 30%;
  height: 60%;
  top: 0;
  left: 0;
}
.landscape .medium1 {
  width: 40%;
  height: 60%;
  top: 0;
  left: 30%;
}
.landscape .medium2 {
  width: 40%;
  height: 40%;
  top: 60%;
  left: 30%;
}
.landscape .tall {
  width: 30%;
  height: 100%;
  top: 0;
  left: 70%;
}
.landscape .small {
  width: 30%;
  height: 40%;
  top: 60%;
  left: 0;
}
.landscape .small .blockborder,
.landscape .medium2 .blockborder {
  margin-top: 0;
}
.landscape .medium1 .blockborder,
.landscape .medium2 .blockborder,
.landscape .tall .blockborder {
  margin-left: 0;
}

.large {
  background-color: red;
}
.medium1 {
  background-color: orange;
}
.medium2 {
  background-color: yellow;
}
.tall {
  background-color: green;
}
.small {
  background-color: purple;
}

